.viewAll{
    margin-top: 100px;
    /* margin-left: 300px;
    margin-right: 300px; */
    text-align: center;
    /* justify-content: center; */
    /* border: solid 2px #bbb;
    border-radius: 10px; */
    /* width: 800px; */
}

a{
    text-align: left;
    display: flex;
    text-decoration: none;
    margin-left: 350px;
    /* justify-content: center; */
}

.arrow_left {
    width: 23px;
    height: 23px;
    margin-right: 5px;
}

.back_to_shop{
    text-decoration: none;
    color: black;
    height: 20px;
    text-align: center;
}


.product_in_cart{
    font-size: 23px;
    text-align: left;
    margin-left: 350px;
}

.overView{
    display: flex;
    justify-content: center;
}

.inner_product_image{
    width: 300px;
    height: 400px;
}

.productEx{
    width: 350px;
}

.close{
    text-align: right;
    margin-bottom: 50px;
}

.product_detail{
    margin-left: 40px;
    text-align: left;
}


/* .productName{
    margin: 0px;
} */

/* p{
    margin: 0%;
} */

.amount{
    width: 650px;
    margin: auto;
}

.Sub{
    display: flex;
    justify-content: space-between;
}

/* .subtotal{
    text-align: left;
} */

.Post{
    justify-content: space-between;
    display: flex;
}

.Sum{
    justify-content: space-between;
    display: flex;
}

.href_button_text{
    color: white;
    font-size: large;
}

.button{
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: black;
    width: 120px;
    height: 40px;
}
