
.comp{
    margin-top: 175px;
    margin-bottom: 150px;
}

.U-S{
    font-size: 100px;
    text-align: center;
}

h2{
    font-size: 35px;
    text-align: center;
    font-family: "Yu Gothic Medium", "æ¸¸ã‚´ã‚·ãƒƒã‚¯ Medium", YuGothic, "æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“", "ãƒ’ãƒ©ã‚®ãƒŽè§’ã‚´ Pro W3", "ãƒ¡ã‚¤ãƒªã‚ª", sans-serif;
}
