
.header_container{
    float: left;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    margin: 0;
}
.menu_container{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #333;
    /* background-color: #dcdcdc; */
    
}

.auth{
    display: flex;
    width: 100px;
    margin-top: -10px;
    margin-bottom: -16px;
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, 游ゴシック体, "ヒラギノ角ゴ Pro W3", メイリオ, sans-serif;
}

.menu_open{
    /* cursor: pointer; */
    display: inline-block;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    position: absolute;
}
.menu_open:checked+div+.category_menu{
    display: none;
}
.menu_close{
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    position: relative;
    left: 30px;
}

#g-nav{
    /* display: inline-block; */
    
    width: 100%;
    /* height: 170px; */
    flex-shrink: 0;
    /* display: none; */
    background: rgba(142, 142, 142, 0.35);
    font-weight: bold;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
     /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
     position: relative;
     /* z-index: 999; */
     /*ナビのスタート位置と形状*/
     top:-500%;
     left:0;
     height: 150px;/*ナビの高さ*/
     /* background:#999; */
     /*動き*/
     transition: all 0.6s;
    
}

/*リストのレイアウト設定*/

#g-nav li a{
	color: #333;
	text-decoration: none;
	display: block;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	
}

/*アクティブクラスがついたら位置を0に*/
#g-nav.panelactive{
    top: 0;
}
/*========= ボタンのためのCSS ===============*/
.openbtn1{
    position:fixed;
    z-index: 9999;
    top:10px;
    left: 10px;
    cursor: pointer;
    width: 50px;
    height:50px;
}
  
  

.mens_category_list{
    list-style: none;
    color: #000;
    font-size: 10px;
    font-family: Inter;
}

.womens_category_list{
    list-style: none;
    color: #000;
    font-size: 10px;
    font-family: Inter;

}

.A{
    display: flex;
    font-family: Inter;
    font-size: 13px;
}

.search_container{
    margin-top: 5px;
    width: 100%;
    top: 50%;
    height: auto;
    display: flex;
    justify-content: center;
}
.searchForm{
    margin-left: 150px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 25px;
    width: 50%;
    /* top: 5px; */
    /* position: relative; */
    display: flex;
    justify-content: center;

    
    /* @include mq(md){
      height: 40px; */
      
}

/* .text{
    margin: auto;
    height: 20px;
    width: 40%;
    position: relative;
    display: flex;
    justify-content: center;
} */
.search_icon{
    height: 15px;
    width: 15px;
    position: relative;
    display: flex;
    justify-content: center;
}

.acount_container{
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    top: 50%;
    height: auto;
}

.acountIcon{
    /* background-image: url(/icon/account_icon.png);
    background-position: center left;
    padding-right: 30px;
    background-repeat: no-repeat; */
    margin-right: 20px;
    height: 25px;
    width: 25px;
    position: relative;
    display: flex;
    justify-content: center;
}

.acountList{
    /* display: flex; */
    list-style: none;
    color: #000;
    font-size: 15px;
    position: absolute;
    right: 10px;
    /* font-family: Inter; */
}

.cart_container{
    float: right;
    top: 50%;
    height: auto;
}

.cartIcon{
    margin-right: 10px;
    height: 25px;
    width: 25px;
    position: relative;
    display: flex;
    justify-content: center;
}

.main_container{
    margin-top: 200px;
    text-align: center;
}

.logo_container{
    height: 330px;
    width: 300px;
    margin: auto;
}

.U-logo{
    height: 300px;
    width: 250px;
}

.U-S{
    font-size: 100px;
    margin-top: 50px;
}

.USexp{
    margin-top: 250px;
}

.USexp_message{
    font-family: "MS Mincho";
    font-size: 15px;
    /* text-align: left; */
    margin-left: 200px;
    margin-right:200px;
}

.messageArea{
    margin-top: 200px;
}

.messageLine{
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, 游ゴシック体, "ヒラギノ角ゴ Pro W3", メイリオ, sans-serif;
    font-size: 15px;
    text-align: left;
    margin-left: 380px;
    margin-right:350px;
}

.footer{
    font-family: "Yu Gothic Medium", "æ¸¸ã‚´ã‚·ãƒƒã‚¯ Medium", YuGothic, "æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“", "ãƒ’ãƒ©ã‚®ãƒŽè§’ã‚´ Pro W3", "ãƒ¡ã‚¤ãƒªã‚ª", sans-serif;
    text-align: center;
    margin: 0px;
    border-top: 1px solid #333;
    display: block;
}


.contact_container{
    text-decoration: none;
}

