.container{
    text-align: center;
    font-family: Josefin Sans;
    margin-top: 100px;
}

.form_container{
    margin: 10px;
}

.a{
    margin: 50px;
}

.b{
    width: 400px;
    background-color: rgba(242, 242, 242);
}
.c{
    height: 10rem;
    width: 400px;
    background-color: rgba(242, 242, 242);
}