h1{
    text-align: center;
    margin-top: 200px;
}

h2{
    text-align: center;
    /* font-size: small; */
}


.cashContainer{
    /* display: flex;
    justify-content: center; */
    /* margin-top: 200px; */
    text-align: center;
    margin-bottom: 145px;
}

/* .All{
    display: inline;
    justify-content: center;
} */

/* .viewAll{
    display: flex;
    justify-content: center;
} */

.cash{
    /* display: flex;
    justify-content: center; */
    text-align: center;
}



.card-name{
    text-align: center;
}

.form-control{
    margin-left: 670px;
}

.limit{
    margin-left: 723px;
}

.security{
    margin-left: 683px;
}

.mt{
    /* height: 10000px; */
    margin-top: 30px;
    background-color: black;
    color: white;
}