h1{
    text-align: center;
    margin-top: 200px;
}

h2{
    text-align: center;
    /* font-size: small; */
}

/* .cashContainer{
    display: flex;
    justify-content: center;
    margin-top: 200px;
    text-align: center;
} */

/* .All{
    display: inline;
    justify-content: center;
} */

/* .viewAll{
    display: flex;
    justify-content: center;
} */

.cash{
    /* display: flex;
    justify-content: center; */
    text-align: center;
}

.orderContainer{
    /* text-align: right; */
    /* float: left; */
}

.orderContainer{
    /* float: right; */
}

.total{
    /* text-align: center; */
}

.form-control{
    /* text-align: center; */
}